.App {
    margin: 30px auto;
    max-width: 320px;
    padding: 2em;
    border: 1px solid silver;
    border-radius: 1em;

    text-align: center;
}

table.controller-table {
    margin: auto;
    touch-action: none;
}

table.controller-table td {
    width: 80px;
    height: 80px;
}

table.controller-table td.pressed {
    background: green;
}

table.arc-wheels-table {
    margin: auto;
    touch-action: none;
    border: 1px solid black;
    border-collapse: collapse;
}

table.arc-wheels-table td,th {
    margin: 0px;
    padding: 5px;
    border: 1px solid black;
}

table.arc-wheels-table input {
    width: 70px;
    text-align: center;
    font: inherit;
    margin: 0px;
}
